<div class="container__home">
 
  <div class="container__water">
    <app-water></app-water>
  </div>

  <app-ads />
 <!-- <app-ads /> esta demorando mucho en cargar el banner -->
  <div class="container__notices">
    <span class="notices">Noticias mas Importantes</span>
    @for (item of dataNotices; track $index; let i = $index) {
    <div class="container__notices__items">
      <a [href]="item.link" target="_blank">
        <mat-card>
          <div class="container__img">
            @if (item.enclosure.type === "video/mp4") {
            <img src="assets/home/el-pais.jpeg" alt="">
            } @else {
            <img [src]="item.enclosure.link" alt="">
            }

          </div>
          <div class="container__title">
            <span>{{ item.description }}</span>
          </div>
        </mat-card>
      </a>
    </div>
  
    @if (i % 3 === 0) {
        <app-native-banner />
    }
    }

  </div>

</div>