.footer-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 67px;
    background: linear-gradient(135deg, #1B1B3A, #2E86AB);
    color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    button {
        color: white;

        mat-icon {
            font-size: 24px;
        }
    }
}

.container__icon {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (min-width: 600px) {
        justify-content: center;
        gap: 5rem;


    }

    align-items: center;
    padding-bottom: 1rem;

    span {
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 !important;
        font-size: 1.1rem;
        text-align: center;
    }
    padding-right: 8px;
}