<mat-toolbar ngSkipHydration>

  <div class="container__logo">
    <img src="assets/logo/logo2.png" alt="">
  </div>
  <!-- <button (click)="setDataFather()" mat-button type="button">
    <mat-icon>menu</mat-icon>
  </button> -->

  <span class="example-spacer"></span>

  <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>

  <div class="container-option">
    <mat-menu #menu="matMenu">

       <button (click)="profileUser()" mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>

      <!-- <button (click)="setNotification()" mat-menu-item>
        <mat-icon>notifications</mat-icon>
        <span>Notificaciones</span>
      </button> -->

      <button (click)="statistics()" mat-menu-item>
        <mat-icon>trending_up</mat-icon>
        <span>Estadisticas</span>
      </button>

      <!-- <button (click)="logoutSection()" mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configuración</span>
      </button> -->

      <button (click)="logoutSection()" mat-menu-item>
        <mat-icon>settings_power</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>



@if (spinnerShow) {
<div class="container__spiner">
  <app-spiner [title]="'Un momento estamos cargando su información'"></app-spiner>
</div>
}