
<div class="container__chat">

    <div class="container__anuncio">
        <div class="container__anuncion__adse"></div>
        
    </div>

<mat-toolbar color="primary" class="chat-header">
  <mat-icon (click)="goBack()" >keyboard_backspace</mat-icon>
  <span class="ml-2">{{ dataGroup?.group }}</span>
   <mat-icon>more_vert</mat-icon>
</mat-toolbar>

<div class="chat-container" id="chat-body">
  <div class="messages">

    @for (message of getMessageData; track message; let i = $index) {
    <div class="message" [ngClass]="message.userID === _general.getStorage()?.userID ? 'right': 'left'">
      <mat-card class="mat-elevation-z2"  [ngClass]="message.userID === _general.getStorage()?.userID ? 'own-message': ''">
        <div class="name">{{ message.userID === _general.getStorage()?.userID ? 'Yo': message?.userName }}</div>
        <div class="text">{{ message.chatMessage }}</div>
        <div class="time">{{ returDate(message.timestamp) | date:'short' }}</div>
      </mat-card>
    </div>
    }
  </div>
</div>

<div class="chat-input">
  <mat-form-field class="input-full">
    <input matInput [(ngModel)]="message" placeholder="Escribe un mensaje" />
  </mat-form-field>
      
    <div class="form__reset__password">
        <button mat-button class="btn  bnt-button__chat"  
        (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>

</div>
