
mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__chat {
    margin-top: 2.5rem;
}

.chat-header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #f3f4f6;
  height: calc(100vh - 355px);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message {
  display: flex;
}

.message.left {
  justify-content: flex-start;
}

.message.right {
  justify-content: flex-end;
}

.message mat-card {
  max-width: 70%;
  padding: 0.8rem;
}

.message .own-message {
  background-color: #1976d2;
  color: white;
}

.name {
  font-weight: bold;
  margin-bottom: 4px;
}

.time {
  font-size: 0.75rem;
  color: gray;
  text-align: right;
  margin-top: 4px;
}

.chat-input {
  display: flex;
  padding: 1rem;
  align-items: center;
  background-color: white;
  border-top: 1px solid #ddd;
}

.input-full {
  flex: 1;
  margin-right: 0.5rem;
}

.spacer {
  flex: 1 1 auto;
}


.bnt-button__chat {
    height: 50px !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00dddd !important;
    mat-icon {
        color: #000000 !important;;
    }
    &:hover {
        border: 1px solid #00dddd !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
;
    }
}

.container__anuncion__adse {
    height: 100px;
}