<div class="container__group">
  <div class="container__group__item">
    <div class="container__header">

      <div class="container__anuncio"></div>
      <!-- <h3>Hola, {{ dataStorage?.userName }} <span>💪</span></h3> -->
      <button mat-flat-button color="primary" (click)="openDialogPass()">
        <mat-icon>add</mat-icon>
        <span>Crear nuevo grupo</span>
      </button>
    </div>

    <div class="container__search">
      <mat-form-field appearance="outline">
        <mat-label>Buscar grupo</mat-label>
        <input matInput [(ngModel)]="dataFilter" placeholder="Buscar por nombre del grupo" (keyup)="filterDataGroup()">
      </mat-form-field>
    </div>

    <div class="container__card">
      @for (group of groupList; track group; let i = $index) {
        <mat-card>
          <div class="card-content">
            <h3>{{ group?.name }}</h3>
            <p><strong>Creador:</strong> {{ group?.creador }}</p>
            <p><strong>Gastos:</strong> {{ group?.totalAmount | currency }}</p>
            <p><strong>Fecha:</strong> {{ group?.createdAt }}</p>
            <p><strong>Participantes:</strong> {{ group?.memberCount }}</p>
            <p><strong>Por persona:</strong> {{ group?.totalAmount / group?.memberCount | currency }}</p>
            <p><strong>Rol:</strong> {{ group?.role }}</p>
            <p><strong>Estado:</strong> Activo</p>

            <div class="card-actions">
              @if ((group?.createdBy === dataStorage?.userID) || (group.privilege === false)) {
                <button mat-button (click)="shareGroup(group)">
                  <mat-icon>share</mat-icon> Compartir
                </button>
              }
              <button mat-button (click)="showChat(group)">
                <mat-icon>chat</mat-icon> Chat
              </button>
              <button mat-button (click)="showExpense(group)">
                <mat-icon>receipt_long</mat-icon> Gastos
              </button>
            </div>
          </div>
        </mat-card>
      }
    </div>
  </div>
  <app-add-group></app-add-group>
</div>

@if (spinnerShow) {
  <div class="container__spiner">
    <app-spiner [title]="'Un momento estamos cargando su información'"></app-spiner>
  </div>
}
